@font-face {
  font-family: 'Katwijk Mono Web';
  src: url('/katwijk-mono/katwijk-mono-regular-web.eot');
  src: url('/katwijk-mono/katwijk-mono-regular-web.eot?#iefix')
      format('embedded-opentype'),
    url('/katwijk-mono/katwijk-mono-regular-web.svg#katwijkmonoregular')
      format('svg'),
    url('/katwijk-mono/katwijk-mono-regular-web.woff2') format('woff2'),
    url('/katwijk-mono/katwijk-mono-regular-web.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: bold;
  src: url('/inter-ui/Inter-UI-Regular.woff2') format('woff2'),
    url('/inter-ui/Inter-UI-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI';
  font-style: regular;
  font-weight: normal;
  src: url('/inter-ui/Inter-UI-SemiBold.woff2') format('woff2'),
    url('/inter-ui/Inter-UI-SemiBold.woff') format('woff');
}
